{% extends 'desktop.html' %}
{% block content %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <style>

    .body {
        color: #1a237e;
     }

  </style>

  <div class="container">
    <div class="jumbotron margin-jumbotron" style="margin-top: 0%; padding: 5%; padding-top: 2%; padding-bottom: 2%;">
          <br>
      <p>Ууупс! :( </p>
      <p>К сожалению, SwiftDaddy пока что поддерживает только один запрос одновременно. </p>
      <p>Работаем над этим...</p>
      <hr>

    </div>
  </div>



{% endblock content %}