{% extends 'desktop.html' %}
{% block content %}

  <div id="signinsignup" class="container" style="width: 70%; align: center; margin-top: 5%; padding: 0px">
    <div class="row">
      <div id="signin" class="col-sm-6 jumbotron" style="padding: 3%; background-color: transparent; border-style: solid; border-width: 3px; border-color : #eee">

        <div align="middle">
          <h3> Sign in</h3>
        <h4 style="">To buy domain names you need to a registered customer</h4>
          <hr width="100%">
        </div>
        <form action="{% url 'welcome' %}" method="POST" style="margin-left: 8%; margin-right: 8%">
          {% csrf_token %}
          <p>{{ error_msg }}</p>
          <div class="form-group">
            <label for="username">Login:</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password }}
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>

      <div id="signup" class="col-sm-6 jumbotron" style="padding: 3%; padding-bottom: 8%">
        <div align="middle">
          <h3 style="color: #777777"> Sign up</h3>
        <h4 style="color: #777777;">If you do not have an account</h4>
          <hr width="100%" style="color: #D9D9D9; background-color: #D9D9D9; height: 1px">
          <br>
          <p>
            There are a lot of benefits for all new and existing customers
          </p>
          <br>
          <p>
            Create an account in a couple of minutes
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


