{% extends 'desktop.html' %}
{% block content %}

  <div id="signinsignup" class="container" style="width: 50%; align: center; margin-top: 5%; padding: 0px">
    <div class="row">
      <div id="signin" class="jumbotron" style="padding: 3%; background-color: transparent; border-style: solid; border-width: 3px; border-color : #eee">

        <div align="middle">
          <h3> Sign in</h3>
        <h4 style="">To buy domain names you need to a registered customer</h4>
          <hr width="100%">
        </div>
        <form action="{% url 'welcome' %}" method="POST" style="margin-left: 8%; margin-right: 8%">
          {% csrf_token %}
          <p>{{ error_msg }}</p>
          <div class="form-group">
            <label for="username">Login:</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password }}
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}


